<div class="cta-mail-banner">
  <p class="cta-mail-text">Cadastre-se e receba toda semana boas práticas para aplicar nos seus projetos</p>
  <form class="cta-mail-form" autocomplete="false" role="form" method="post" action="http://mautic.mindsetboaspraticas.com.br/mautic/index.php/form/submit?formId=4">
    <input type="hidden" name="mauticform[formId]" id="mauticform_formpadraodoblog_id" value="4"/>
    <input type="hidden" name="mauticform[return]" id="mauticform_formpadraodoblog_return" value=""/>
    <input type="hidden" name="mauticform[formName]" id="mauticform_formpadraodoblog_name" value="formpadraodoblog"/>
    <input class="cta-mail-field" name="mauticform[email]" value="" required placeholder="Insira seu melhor email aqui..." type="email" />
    <button class="cta-mail-button" type="submit" name="mauticform[submit]" name="mauticform[submit]" value="1">Quero receber</button>
  </form>
</div>