.pager {
  margin: 20px 0 0;
  padding: 0;

  list-style: none;

  @extend .clearfix;

  .next {
    float: right;
  }

  li {
    display: inline-block;

    a {
      display: block;
      padding: 10px;
      border: 1px solid $primary-color;

      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: $primary-color;

        color: #FFF;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .pager {
    margin: 30px 0 0;
  }

  .pager li a {
    padding: 15px 25px;
  }
}
