---
layout: base
---

{% include header.html type="post" %}
<div class="main-container">
  {% include cta.html %}
  <article role="main" class="post-container">
    {{ content }}
  </article>

  {% include post-social.html %}

  {% if page.tags.size > 0 %}
  <div class="blog-tags">
    Tags:
    {% if site.link-tags %}
    {% for tag in page.tags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
    {% else %}
      {{ page.tags | join: ", " }}
    {% endif %}
  </div>
  {% endif %}

  <ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}">&larr; Post anterior</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="next">
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">Próximo post &rarr;</a>
    </li>
    {% endif %}
  </ul>

  {% if page.comments %}
  <div class="disqus-comments">
    {% include disqus.html %}
  </div>
  {% endif %}
</div>
<script src="//mautic.mindsetboaspraticas.com.br/mautic/index.php/focus/1.js" type="text/javascript" charset="utf-8" async="async"></script>