.navbar {
  border-bottom: 1px solid #eaeaea;

  .navbar-brand {
    float: left;
    position: relative;

    display: block;
    height: 50px;
    padding: 15px 0;

    font-size: 18px;
    line-height: 20px;

    &::after {
      position: absolute;
      top: 9px;

      display: block;
      width: 30px;
      height: 27px;

      background: url(../img/logo.png);
      opacity: 0;
      content: " ";

      animation: toright .6s .6s forwards;
    }
  }
}

.navbar-header {
  float: left;
}

.navbar-nav {
  float: right;

  margin: 5px 0 0;
  padding-left: 0;

  margin-bottom: 0;
  list-style: none;

  > li {
    display: block;

    > a {
      display: block;
      padding: 10px 0;

      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 20px 0;

    > li {
      float: left;

      > a {
        padding: 15px 0;
      }
    }
  }
}

@keyframes toright {
  from {
    opacity: 0;
    right: 20px;
  }

  to {
    opacity: 1;
    right: -34px;
  }
}